.app {
  height: 100%;
}

.app-header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.app-content {
  display: block;
  height: calc(100% - 90px);
  position: relative;
  top: 90px;
  overflow-y: scroll;
}
